html, body {
    align-items: flex-start;
    height: 100vh;
    background-color: #5F8575;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.wood-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.wood-image img {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 0;
    padding-top: 0;
    
}

.top-bar h1 {
    font-size: 60px;
    margin: 0;
}

.top-bar p {
    font-size: 20px;
}


.button-to-the-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    background-color: black;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.button-to-the-game p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

